{% extends 'base.html.twig' %}

{% block title %}Hello PatientsController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Patients</h1>
    <form id="search-form">
        <input type="text" id="search-input" placeholder="Rechercher un patient">
    </form>

    <ul id="results-list"></ul>

    <script>
        document.getElementById('search-input').addEventListener('input', function () {
            const query = this.value;
            const list__patients = document.getElementById('list__patients');

                fetch(`/patients/search?query=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        const resultsList = document.getElementById('results-list');
                        resultsList.innerHTML = '';

                        list__patients.style.display = 'none';

                        data.patients.forEach(patient => {
                            const listItem = document.createElement('li');
                            listItem.innerHTML = `<div>${patient.name} ${patient.firstname} <a href="/patients/view/${patient.id}">Voir</a></div>`;
                            resultsList.appendChild(listItem);
                        });
                });
        });
    </script>

    <a href="{{ path('app_patients_add') }}">Add patients</a>

    <div id="list__patients">
        {% for p in patients %}
            <div style="display: flex; gap: 10px; align-items: center;">
                <p>{{ p.name }}</p>
                <p>{{ p.firstname }}</p>
                <a href="{{ path('app_patients_view', {'id': p.id}) }}">Voir</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
