@use "login";
@use "patient";
@use "navBar";
@use "newMeet";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(230,0,126);
  background: linear-gradient(180deg, rgba(230,0,126,1) 0%, rgba(102,36,131,1) 100%);
  font-family: "Quicksand",sans-serif;
}

