#view__patient {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .patient__item {
    display: flex;
    gap: 8px;
    font-size: 22px;

    p {
      color: #ffffff;
      font-weight: 600;
      white-space: nowrap;
    }

    .variable__patient {
      color: #ffffff;
    }

    .patient__name {
      font-weight: 600;
      text-align: center;
    }
  }

  form {
    margin-top: 25px;
  }
}